.post-holder {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.post-body {
    word-wrap: break-word;
}

.footer {
    width: auto;
    text-align: center;
    padding: 10px;
}

.del-btn {
    border-radius: 5px;
    padding: 1px 4px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
}
